fastapi
uvicorn
transformers>=4.40,<5
huggingface_hub[hf_xet]
torch
sentencepiece
pydantic
python-multipart
nltk
PyPDF2
pdfplumber
python-docx
python-pptx
pytesseract
paddleocr
paddlex
Pillow
opencv-python
